<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tugas Java</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Converter Berat</div>
        <hr>
        <p> Kilogram   : <b th:text="${kilogram}"></b>Kg
        <p> Pounds     : <b th:text="${beratPounds}"></b>Pound
        <p> Ons        : <b th:text="${beratOns}"></b>Ons
        <p> Ton        : <b th:text="${beratTon}"></b>Ton
        <p> Kuintal    : <b th:text="${beratKuintal}"></b>Kuintal
        <p> Gram       : <b th:text="${beratGram}"></b>g
    </body>
</html>

